@layer components-socialify;
@import "tailwindcss/theme.css" layer(components-socialify);
/* @import "tailwindcss/utilities.css" layer(components-socialify); */


@plugin "daisyui" {
  themes: light;
  prefix: "socialify-";
  root: ".socialify-auth-providers";
  logs: true;
  /* include: button; */
}

@source "./templates/**/*.php";


@layer components-socialify {
  .socialify-btn {
    @apply socialify-btn px-3! bg-white text-black border-gray-300! border-2!;
  } 

}

/* Optional: Add your custom styles using @apply for DaisyUI components */