
.socialify_shortcode_login{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;

    .socialify_shortcode_login__item {
        width: 33px;
        padding: 3px;
    }
}
